.track_time {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.track_current_time {
  display: block;
  flex-basis: 50%;
}
.track-_length {
  display: block;
}
.track_length_bar {
  position: relative;
  margin: 0 auto;
  width: 90%;
  height: 12px;
  border-radius: 999px;
  background-color: red;
}
.track_current_time_bar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 70%;
  height: 100%;
  background-color: black;
  z-index: 2;
  border-radius: 999px;
}
